<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.M4Ejercicios"
        tools:targetApi="31" >

        <!-- _______________________________________ Ejercicio 1 _______________________________________ -->
        <!--  -->
        <!-- App lifecycle -->
        <activity
            android:name=".ejercicio1.lifecycle.AppLifeCycle"
            android:exported="true" />

        <!-- Implicit Intent -->
        <activity
            android:name=".ejercicio1.implicit_intent.ImplicitIntentUrl"
            android:exported="true" />

        <!-- Explicit Intent -->
        <activity
            android:name=".ejercicio1.explicit_intent.Activity1"
            android:exported="true" />
        <activity
            android:name=".ejercicio1.explicit_intent.Activity2"
            android:exported="false" />


        <!-- _______________________________________ Ejercicio 2 _______________________________________ -->
        <!--  -->
        <!-- Frame Layout -->
        <activity
            android:name=".ejercicio2.layouts.FrameLayoutActivity"
            android:exported="true" />

        <!-- Linear Layout -->
        <activity
            android:name=".ejercicio2.layouts.LinearLayoutActivity"
            android:exported="true" />

        <!-- Relative Layout -->
        <activity
            android:name=".ejercicio2.layouts.RelativeLayoutActivity"
            android:exported="true" />

        <!-- Constraint Layout -->
        <activity
            android:name=".ejercicio2.layouts.ConstraintLayoutActivity"
            android:exported="true" />

        <!-- Graphic Components -->
        <activity
            android:name=".ejercicio2.graphic_components.GraphicComponents"
            android:exported="true" >

        </activity>

        <!-- Recycler View -->
        <activity
            android:name=".ejercicio2.graphic_components.recycler_view.RecyclerViewActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>